<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fgh.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.fgh.entity.Order">
        <result column="id" property="id" javaType="LONG" jdbcType="BIGINT"/>
        <result column="name" property="name" javaType="STRING" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="BaseSql">
        select id,`name` from t_order
    </sql>

    <select id="findOrderList" resultMap="BaseResultMap" parameterType="com.fgh.entity.Order">
        <include refid="BaseSql"/>
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name !=  ''">
                and name like concat('%', #{name}, '%')
            </if>
        </where>
    </select>
</mapper>